<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        .imgbox {
            display: grid;
            height: 90%;
        }
        .center-fit {
            max-width: 90%;
            max-height: 90vh;
            margin: auto;
        }

        a{
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 1.94vh;
            text-align: center;
            border-radius: 5px;
            border: 2px solid black;
            width: 7vw;
            height: 3vh;
            text-decoration: none;
            color: black;
        }
        a:hover{
            background-color: rgb(42, 96, 133);
        }


    </style>



    <title>404</title>
</head>
<body>
    <div class="imgbox">
        <img class="center-fit" src='/images/404.jpg'>
    </div>
    <br>

    <div style="display: flex; justify-content: center;">
        <a id="link" href="/" >טוס/י לדף הבית</a>
    </div>

    
</body>
</html>