<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/bootstrap.min.js"></script>
    <title> 住</title>
    <script src="/js/socket.io.js"></script>
    <script src="/js/jQuery.min.js"></script>
</head>

<body>
    <div class="container fluid-container">
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid" dir="rtl">
                <a class="navbar-brand " href="#">
                    <img onclick="toggleDarkMode()" src="/images/116.png" alt="" width="35" height="35" class="d-inline-block align-text-top"> 住
                </a>
                <a href="/" class="btn btn-dark" style="cursor: pointer; color: white;">祝 转</a>
            </div>
        </nav>
        <br>
        <form action="/templates/addTemp/" onsubmit="" method="post">
            <div class="input-group mb-3">
                <input required type="text" class="form-control" name="temp[title]" value="" placeholder="砖 砖">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">砖 砖</span>
                </div>
            </div>
            <div class="input-group mb-3">
                <input required type="text" class="form-control" name="temp[from]" value="" placeholder="转">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">转</span>
                </div>
            </div>
            <div class="input-group mb-3">
                <input required type="text" class="form-control" name="temp[to]" value="" placeholder="">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"></span>
                </div>
            </div>
            <div class="input-group mb-3">
                <input required type="text" class="form-control" name="temp[body]" value="" placeholder="转">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">转</span>
                </div>
            </div>
            <div class="input-group mb-3">
                <input required type="text" class="form-control" name="temp[state]" value="" placeholder="驻">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">驻</span>
                </div>
            </div>
            <div class="input-group mb-3" style="direction: rtl;">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">住专转 </span>
                </div>
                <select required name="temp[dayClosure]" id="">
                    <option value="yes"></option>
                    <option value="no"></option>
                </select>
            </div>
            <div class="input-group mb-3"  style="direction: rtl;">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">爪注</span>
                </div>
                <select required tabindex="6" name="temp[color]">
                        <option value="#d82e3f"></option>
                        <option value="#c4aa16"></option>
                        <option value="#1d8d20"></option>
                </select>                

            </div>
            <div class="center">

                <button class="btn btn-primary">砖专</button>

            </div>
        </form>
    </div>

    <script>

        const socket = io("http://localhost:3000");

        var darkMode = true;

        function toggleDarkMode() {
            if (darkMode) {
                $("button").removeClass("btn-dark").addClass("btn-primary");
                $("nav").removeClass("navbar-dark bg-dark").addClass("navbar-light bg-light");
                $("table").removeClass("table-dark");
                $("body").css({ "background-color": "white" });
                $("#dateCalander").removeClass("dateCalendarDarkMode").addClass("dateCalendar");
                $("#dateCalander").removeClass("dateCalendarDarkMode").addClass("dateCalendar");
                $("#templates").removeClass("templatesDivDarkMode").addClass("templatesDiv");
                darkMode = false;
            } else {
                $("button").addClass("btn-dark").removeClass("btn-primary");
                $("nav").addClass("navbar-dark bg-dark").removeClass("navbar-light bg-light");
                $("table").addClass("table-dark");
                $("body").css({ "background-color": "#2b2e31" });
                $("#dateCalander").addClass("dateCalendarDarkMode").removeClass("dateCalendar");
                $("#templates").addClass("templatesDivDarkMode").removeClass("templatesDiv");
                darkMode = true;
            }
        }
    </script>
</body>