<!doctype html>
<html lang="heb">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">



    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="/css/signin.css" rel="stylesheet">
  </head>
<body class="text-center">

  
<form action="/userHandle/editUser/<%=user.id%>?_method=PUT" method="POST" class="form-signin">

  <!-- <div class="container-fluid">

     <!--הודעות למשתמש
     <% //if((error && error.length > 0) || (success && success.length>0)){ %>
      <%//if(success && success.length>0){ %>
          <div class="alert alert-success alert-dismissible fade show" dir="rtl" style="text-align:center; padding-right: 1.25rem;" role="alert">
      <%//} if(error && error.length > 0){ %>
          <div class="alert alert-danger alert-dismissible fade show" dir="rtl" style="text-align:center; padding-right: 1.25rem;" role="alert">
      <% //} %>
      <% //if(error && error.length > 0){ %>
          <%=//error%>
      <%//} if(success && success.length>0){ %>
          <%=//success%>
      <% //} %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
            </button>
          </div>
    <% //} %>
  </div> -->

  <% //if(currentUser){ %>
    <script>
      //if(confirm("אתה מחובר כבר האם להתנתק כעת?")){
      //  window.location = "/userHandle/logout";
      //}else{
      //  window.location = "/";
      //}
    </script>
  <% //} %>

  <img class="mb-4" src="/images/aliens-line.svg" alt="" width="72" height="72">
  <h1 style="color: white;" class="h3 mb-3 font-weight-normal">הירשמות</h1>
  <label for="inputEmail" class="sr-only">שם משתמש</label>
  <input type="text" value="<%=user.username%>" id="inputEmail" name="user[username]" class="form-control" dir="rtl" placeholder="שם משתמש" required autofocus>
 
  <div class="input-group-prepend">
    <select dir="rtl" name="user[accessLvl]" id="manager" class="form-control">
        <% if(user.accessLvl == 1){%>
            <option selected value="1">מנהל ראשי</option>
        <%}else if(user.accessLvl == 2){%>
            
            <option value="1">מנהל ראשי</option>
            <option selected value="2">מטיס</option>
            <option value="3">חוץ</option>
        <%}else{%>
            <option value="1">מנהל ראשי</option>
            <option value="2">מטיס</option>
            <option selected value="3">חוץ</option>
        <%}%>
    </select>
    <span class="input-group-text" id="basic-addon1">רמת גישה</span>
  </div>
  <br>
  <button class="btn btn-lg btn-primary btn-block" type="submit">עדכון משתמש</button>
</form>

</body>
</html>