<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/datatables.min.css">

    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/bootstrap.min.js"></script>
    <title>יומן הטסה</title>

</head>

<body>
    <div class="container container-fluid">


        <div style="background-color: #212529; border-radius: 0 0 20px 20px;" class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4 " style="text-align:center;">
                    <a href="#" style="text-decoration: none;color: #ffffff;">מצב מנהל</a>
                </h1>
            </div>
        </div>

        <a href="/userHandle/signUp" role="button" class="btn btn-primary btn-lg btn-block">הוספת משתמש</a>
        <a href="#" role="button" class="btn btn-primary btn-lg btn-block">ניהול משתמשים</a>
    </div>
</body>

</html>